//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.10
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sun 04 30 20:25:39 2023

IO_LOC "blue" 16;
IO_PORT "blue" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "green" 18;
IO_PORT "green" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "red" 17;
IO_PORT "red" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "clk" 35;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
